@{
    ViewBag.Title = "Padel APP";
}

<div class="row align-items-center">
    <div class="row col-md-12 d-flex justify-content-lg-between justify-content-md-between justify-content-center p-5">
        <div class="card border-left-primary shadow h-100 py-2 col-md-12 col-lg-5 col-sm-12 col-10">
            <div class="card-header text-center">
                <h3>RESERVA TU CANCHA</h3>
            </div>
            <div class="card-body row align-items-center no-gutters align-items-center">
                <div class="col-md-12">
                    <p class="lead text-center">Reserva tus horarios y disfruta de nuestros servicios.</p>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div>
                        <a class="btn btn-success" href="@Url.Action("Reserva", "Home")"><i class="bi bi-calendar-plus">Reservar</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-left-primary shadow h-100 py-2 col-md-12 col-sm-12 col-lg-5 col-10">
            <div class="card-body">
                <div class="card-header text-center">
                    <h3>CREA TU PARTIDO</h3>
                </div>
                <div class="col-md-12 text-center">
                    <p class="lead text-center">Reserva tu cancha y ¡arma tu partido! 🎾 Si faltan jugadores, otros podrán unirse a tu reserva para disfrutar juntos del juego. 🤝</p>
                </div>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-success" href="@Url.Action("Disponibles", "Partido")"><i class="bi bi-joystick">Unirse</i></a>
                    <a class="btn btn-success" href="@Url.Action("Crear", "Partido")"><i class="bi bi-calendar-plus">Crear</i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 row m-2">
        <div class="card border-left-primary shadow h-100 py-2 col-md-12 col-12">
            <div class="card-header text-center">
                <h3>Partidos disponibles</h3>
            </div>
            <div class="card-body">
                <div id="partidosContainer" class="slider responsive">
                    <!-- Se generará dinámicamente aquí -->
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("PartidosDisponibles", "Partido")', // Reemplaza con la URL correcta
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                const partidosContainer = $('#partidosContainer');
                let idPartido = 0;
                let urlVerPartido = "";


                $.each(data, function (index, partido) {
                    idPartido = partido.Id;
                    urlVerPartido = "@Url.Action("Ver", "Partido")?idPartido=" + idPartido;
                    console.log(urlVerPartido);

                    const card = $('<div class="card m-2">');
                    const cardBody = $('<div class="row g-0 d-flex justify-content-center">');

                    const colJugadores1y2 = $('<div class="row p-2">');

                    const colJugador1 = $('<div class="col-6 text-center">');
                    colJugador1.append('<img src="' + partido.FotoPerfil1 + '" alt="Foto Jugador 1" class="ultimos-img mx-auto" />');
                    colJugador1.append('<div class="col-12">' + partido.Categoria1 ?? '' + ' - ' + partido.Puntuacion1 ?? .00 + '</div>');

                    const colJugador2 = $('<div class="col-6 text-center">');
                    colJugador2.append('<img src="' + partido.FotoPerfil2 + '" alt="Foto Jugador 2" class="ultimos-img mx-auto" />');
                    colJugador2.append('<div class="col-12">' + partido.Categoria2 ?? '' + ' - ' + (partido.Puntuacion2 ?? 0.00) + '</div>');

                    colJugadores1y2.append(colJugador1);
                    colJugadores1y2.append(colJugador2);

                    const colVs = $('<div class="col-6 col-md-12 text-center mt-3 d-flex justify-content-center">');
                    colVs.append('<h2>VS</h2>');

                    const colJugadores3y4 = $('<div class="row p-2">');

                    const colJugador3 = $('<div class="col-6 text-center">');
                    colJugador3.append('<img src="' + partido.FotoPerfil3 + '" alt="Foto Jugador 1" class="ultimos-img mx-auto" />');
                    colJugador3.append('<div class="col-12">' + partido.Categoria3 ?? '' + ' - ' + partido.Puntuacion3 ?? 0.00 + '</div>');

                    const colJugador4 = $('<div class="col-6 text-center">');
                    colJugador4.append('<img src="' + partido.FotoPerfil4 + '" alt="Foto Jugador 2" class="ultimos-img mx-auto" />');
                    colJugador4.append('<div class="col-12">' + partido.Categoria4 ?? '' + ' - ' + (partido.Puntuacion4 ?? 0.00) + '</div>');

                    colJugadores3y4.append(colJugador3);
                    colJugadores3y4.append(colJugador4);


                    const colFecha = $('<div class="col-md-12 col-12 d-flex justify-content-center">');
                    colFecha.append('<h5 class="text-center">Fecha: ' + moment(partido.HorarioDesde).format('DD/MM/YYYY') + '</h5>');

                    const colHorario = $('<div class="col-md-12 col-12 d-flex justify-content-center">');
                    colHorario.append('<h7 class="text-center">Desde: ' + formatearHora(partido.HorarioDesde) + " - " + formatearHora(partido.HorarioHasta) + '</h7>');


                    const colBtn = $('<div class="col-md-4 col-8 d-flex justify-content-center p-1">');
                    colBtn.append($('<a class="btn btn-success" href="' + urlVerPartido + '">Unirme</a>'));

                    cardBody.append(colJugadores1y2);
                    cardBody.append(colVs);
                    cardBody.append(colJugadores3y4);


                    cardBody.append(colFecha);
                    cardBody.append(colHorario);
                    cardBody.append(colBtn);
                    card.append(cardBody);
                    partidosContainer.append(card);

                });
                partidosContainer.slick({
                    dots: true,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });
            },
            error: function (error) {
                console.error('Error al obtener los datos de los partidos:', error);
            }
        });

        function formatearHora(fechaString) {
            const fechaMilisegundos = parseInt(fechaString.substr(6));
            const fechaDesde = moment(fechaMilisegundos).tz('America/Chicago');
            const horaYMinutos = fechaDesde.format('hh:mm A');
            console.log("Esto es de la configuración: " + horaYMinutos);

            return horaYMinutos;
        }
    });
</script>